* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}

.selects {
    width: 30%;
}

.selects > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-content: space-between;*/
    margin: 10px 20px;
}

.selects select {
    width: 50%;
}

ul {
    list-style-type: none;
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: auto;
}

ul .link {
    text-decoration: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border 0.15s linear;
    transition: border-radius 0.15s linear;
    padding: 10px;
}


ul .link:visited {
    color: black;
}

ul .link:hover {
    border: 2px solid black;
    border-radius: 0%;
}

fieldset {
    border-radius: 10px;
    margin: 10px 20px;
}

.selectable {
    user-select: none;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid black;
}

.selected {
    background-color: rgb(255, 200, 200);
    border: 1px solid black;
}

.unselected {
    background-color: white;
    border: 1px solid black;
}

.unselected:hover {
    background-color: #f8f8f8;
}

.countries-cities {
    display: flex;
    flex-direction: row;
}

.countries-cities > .countries {
    width: 50%;
    border: 1px solid black;
}

.countries-cities > .cities {
    width: 50%;
    border: 1px solid black;
    margin-bottom: -1px;
    margin-right: -1px;
}

fieldset {
    border: 1px solid black;
}