@using CarRental.Web.Models;
@using CarRental.Web.Extensions;
@using CarRental.Web;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Cascade dropdown</title>
    <link href="~/style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/javascript">
        //Insert default item "Select" in dropdownlist on load
        /*
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $("#citylist").html(items);
        });
        */

        function smth(parentId, childId, controller) {
            $(parentId).change(function () {
                var parent = $(parentId).val();
                var url = "/Home/" + controller;
                $.getJSON(url, { id: parent }, function (data) {
                    var item = "";
                    $(childId).empty();
                    $.each(data, function (i, child) {
                        item += '<option value="' + child.value + '">' + child.text + '</option>'
                    });
                    $(childId).html(item);
                });
            });
        }
    </script>
</head>
<body>
    <div>
        <h3>Car removing form</h3>
        <table>
            <tr>
                <td>Country:</td>
                <td>
                    @Html.CreateSelect(ViewBag.Countries as IEnumerable<INumerated>, "countrylist", "citylist", "GetCities");
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    @Html.CreateSelect(ViewBag.Cities as IEnumerable<INumerated>, "citylist", "streetlist", "GetStreets");
                </td>
            </tr>
            <tr>
                <td>Street:</td>
                <td>
                    @Html.CreateSelect(ViewBag.Streets as IEnumerable<INumerated>, "streetlist");
                </td>
            </tr>
        </table>
    </div>
</body>
</html>