@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h3>Car removing form</h3>
        <form method="post">
            <table>
                <tr>
                    <td>Country:</td>
                    <td><select name="Name" /> </td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input name="Name" /> </td>
                </tr>
                <tr>
                    <td>Street:</td>
                    <td><input name="Name" /> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>