@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Creating a car</title>
</head>
<body>
    <div>
        <h3>Car creating form</h3>
        <p>Fill this fields to create a new car</p>
        <form method="post">
            <table>
                <tr>
                    <td>ID:</td>
                    <td><input type="text" name="Id" /> </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Fuel consumption:</td>
                    <td><input type="text" name="FuelConsumption" /></td>
                </tr>
                <tr>
                    <td>Gearbox ID:</td>
                    <td><input type="text" name="GearboxId" /></td>
                </tr>
                <tr>
                    <td>Manufacturer ID:</td>
                    <td><input type="text" name="ManufacturerId" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>