@model CarRental.Web.Models.Automobiles
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Removing a car</title>
</head>
<body>
    <div>
        <h3>Car removing form</h3>
        <form method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="Name" /> </td>
                    <td><input type="submit" value="Remove" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>